@page
@model HubTestModel
@{
    ViewData["Title"] = "Hub Test";
}

<h3>Loading data...</h3>

<svg id="state" width="150" height="100" xmlns="http://www.w3c.org.200/svg" style="border:solid 1px white;background-image:url(/graphics/circuit/@Model.Circuit.Id/svg?scale=1);">
    <circle id="racer-default" cx="75" cy="20" r="3" stroke="#006600" fill="#fff" stroke-width="2" style="opacity: 0.8;" />
    <circle id="racer-move" cx="75" cy="20" r="3" stroke="#003366" fill="#fff" stroke-width="2" style="opacity: 0.8;" />
</svg>

<canvas style="border:solid 1px gray;"
            class="circuit-tracer" 
            id="circuit-tracer"
            width="600" height="400"></canvas>
