@page
@model IndexModel
@{
    ViewData["Title"] = "The tracks available";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var x in Model.Circuits)
        {
        <div class="jumbotron circuit-preview">
          <h1>@x.Name</h1>
          <canvas class="circuit-preview" 
            id="circuit-preview-@x.Id" 
            width="600" height="400"
            data-checkpoints="@x.Checkpoints"></canvas>
            <a href="/circuits/race?id=@x.Id" class="btn btn-primary btn-lg">New race on this circuit</a>
            <a href="/circuits/practice?id=@x.Id" class="btn btn-default">Practice</a>
            <a href="/circuits/edit?id=@x.Id" class="btn btn-default">Modify</a>
        </div>
        }
    </div>
</div>


<hr />