@page
@model PracticeModel
@{
    ViewData["Title"] = "Practice";
}
<h3>Loading data...</h3>

<div class="row">
	<div class="col-md-4">
            <table class="pull-left">
                <tr>
                    <td><button data-x="-1" data-y="-1" class="btn btn-default state-change">&nwarr;</button></td>
                    <td><button data-x="0" data-y="-1" class="btn btn-default state-change">&uarr;</button></td>
                    <td><button data-x="1" data-y="-1" class="btn btn-default state-change">&nearr;</button></td>
                </tr>
                <tr>
                    <td><button data-x="-1" data-y="0" class="btn btn-default state-change">&larr;</button></td>
                    <td><button data-x="0" data-y="0" class="btn btn-default state-change">X</button></td>
                    <td><button data-x="1" data-y="0" class="btn btn-default state-change">&rarr;</button></td>
                </tr>
                <tr>
                    <td><button data-x="-1" data-y="1" class="btn btn-default state-change">&swarr;</button></td>
                    <td><button data-x="0" data-y="1" class="btn btn-default state-change">&darr;</button></td>
                    <td><button data-x="1" data-y="1" class="btn btn-default state-change">&searr;</button></td>
                </tr>
            </table>
    </div>
	<div class="col-md-4">
        <div id="state">
        Loading state...
        </div>
    </div>
</div>


<svg id="state" width="150" height="100" xmlns="http://www.w3c.org.200/svg" style="border:solid 1px white;background-image:url(/graphics/circuit/@Model.Circuit.Id/svg?scale=1);">
    <circle id="state-circle" cx="75" cy="20" r="3" stroke="#006600" fill="#fff" stroke-width="2" style="opacity: 0.8;" />
</svg>

<div class="row">
	<div class="col-md-8">
        <canvas style="border:solid 1px gray;"
            class="circuit-preview" 
            id="circuit-preview-@Model.Circuit.Id" 
            width="600" height="400" 
            data-checkpoints="@Model.Circuit.Checkpoints"></canvas>
	</div>
</div>
<svg id="" width="300" height="200" xmlns="http://www.w3c.org.200/svg" style="border:solid 1px white;background-image:url(/graphics/circuit/@Model.Circuit.Id/svg?scale=2);">
    <circle id="circle1" cx="25" cy="75" r="5" stroke="#00ff00" fill="#fff" stroke-width="2" style="opacity: 0.8;" />
</svg>

<div id="hits" style="border:solid 1px white;width:150px;height:100px"></div>
				
<canvas id="preview" width="150" height="100" style="border:solid 1px white;"></canvas>
