@page
@model PracticeModel
@{
    ViewData["Title"] = "Practice";
}
<h3>Loading data...</h3>

<div class="row">
	<div class="col-md-4">
            <table class="pull-left">
                <tr>
                    <td><button class="btn btn-default decrease-x decrease-y">&nwarr;</button></td>
                    <td><button class="btn btn-default maintain-x decrease-y">&uarr;</button></td>
                    <td><button class="btn btn-default increase-x decrease-y">&nearr;</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-default decrease-x maintain-y">&larr;</button></td>
                    <td><button class="btn btn-default maintain-x maintain-y">X</button></td>
                    <td><button class="btn btn-default increase-x maintain-y">&rarr;</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-default decrease-x increase-y">&swarr;</button></td>
                    <td><button class="btn btn-default maintain-x increase-y">&darr;</button></td>
                    <td><button class="btn btn-default increase-x increase-y">&searr;</button></td>
                </tr>
            </table>
    </div>
	<div class="col-md-4">
        <div id="state">
        Loading state...
        </div>
    </div>
</div>


<div class="row">
	<div class="col-md-8">
        <canvas style="border:solid 1px gray;"
            class="circuit-preview" 
            id="circuit-preview-@Model.Circuit.Id" 
            width="600" height="400" 
            data-checkpoints="@Model.Circuit.Checkpoints"></canvas>
	</div>
</div>
<svg id="" width="300" height="200" xmlns="http://www.w3c.org.200/svg" style="border:solid 1px white;background-image:url(/graphics/circuit/@Model.Circuit.Id/svg?scale=2);">
    <circle id="circle1" cx="25" cy="75" r="5" stroke="#00ff00" fill="#fff" stroke-width="2" style="opacity: 0.8;" />
</svg>

<div id="hits" style="border:solid 1px white;width:150px;height:100px"></div>
				
<canvas id="preview" width="150" height="100" style="border:solid 1px white;"></canvas>
